.env
**/config.json
**/api_keys.json
**/f_record.json
**/ml.json
**/node_modules/**
**/backups/**
**assets/tarot/*.jpg
**assets/pokemon/**/*.png
**assets/pokemon/music/**
**assets/deprecated/**
**scripts/deprecated/**
**scripts/deprecated/**/*.png
**scripts/deprecated/**/*.jpg
