{
  "token": "*******************************",
  "clientId": "************",
  "db_connection": {
    "host": "********",
    "user": "*********",
    "password": "***********"
  },
  "guildIds": [
    {"id": "*******", "comment": "*******"},
    {"id": "*******", "comment": "*******"}
  ]
}
